*{
    margin:0;
    padding: 0;
}

.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-repeat: no-repeat;
    position:absolute;
    top: -144px;
}

.track{
    width: 1000vh;
    background-image: url(track.png);
    background-repeat: repeat-x;
    position: absolute;
    height: 60vh;
    top: 70vh;
    animation: trackmove linear 15s infinite

}
.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 28vh;
    position: absolute;
    left: 40vh;
    animation: shake linear .5s infinite;


}
.leftwheel img{
    width: 77px;
    position: relative;
    top:42px;
    left:42px;
    animation: wheelRotation linear .20s infinite;
}


.rightwheel img{
    width: 77px;
    position: relative;
    top: -39px;
    left: 235px;
    animation: wheelRotation linear .20s infinite;

}

@keyframes wheelRotation {
    100%{
        transform: rotate(360deg);
    }

}

@keyframes trackmove {
    100%{
        transform: translateX(-500vw);
    }
    
}

@keyframes shake {

    0%{
        transform: translateY(-5px);
    }
    50%{

        transform: translateY(2px);
    }
    100%{
        transform: translateY(-5px);
    }
}